.header-container {
  display: flex;
  background-color: #f56a05;
  padding: 10px 15px;
}

.header-brand {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.separator-line {
  color: white;
  margin-left: 5px;
}

@media (max-width: 500px) {
  .separator-line {
    display: none;
  }
  .right-collapsable {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
