/* =========== Edit User Modal Css ================= */
.modalParent{
    /* background-color: green !important; */
  min-width: 40%;
  }
  .modalParent .ant-modal-content{
    border-radius: 5px;
    background-color: transparent;
  }
  .modalParent .ant-modal-header{
    border-radius: 5px;
  }
  .modalParent .ant-modal-header{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .modalParent .ant-modal-close-x{
    width: 20px;
  }
  
  .modalParent .ant-modal-content{
    box-shadow: none;
  }
  .modalParent .ant-modal-body{
    background-color: #fff;
    border-radius: 5px;
  }
  .modalParent .ant-modal-footer{
    display: none;
  }
  .modalParent .ant-input-number-handler-wrap{
    display: none
  }